body,html {
    font-family: sans-serif;
    background-color: black;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Center the content in the browser window */
.container {
    background-image: url(https://dummyimage.com/800x500/000/ffffff.png&text=send+imgURL+to+/endpoint/ws);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    transition: filter 3s ease;
}

img.loader {
    display: none;
}

